---
---

@import "dash";


.wrapper {
    max-width: calc(960px - (30px * 2));
}

.highlight {
    font-weight: 500;
}

body {
    font-size: 17px;
}

p {
    margin: 1em 0;
}

.site-title {
    margin-left: 10px;
    margin-right: 10px;
}

pre {
    tab-size: 4;
}

.PageNavigation {
    font-size: 15px;
    display: block;
    width: auto;
    overflow: hidden;
}
  
.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}
  
.PageNavigation .next {
    text-align: right;
}