---
layout: default
---
{% include author.html %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if site.plugins contains "jekyll/tagging" %}
  <div class="post-tags">
      {% for tag in page.tags %}
      <a class="tag" href="/tag/{{ tag }}/">{{ tag }}</a>
      {% endfor %}
  </div>
  {% endif %}
  <div class="post-date">Published on {{ page.date | date_to_string }}</div>
  {% if page.description != null %}
  <div class="post-description">{{ page.description }}</div>
  {% endif %}
  {{ content }}
</div>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

{% if site.dash.disqus.shortname %}
<div class="comments">
{% include disqus.html %}
</div>
{% endif %}

{% assign size = site.related_posts | size %}
{% if size != 0 %}
<div class="related">
  <h2>related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% include tagcloud.html %}
